---
import Layout from "../layouts/main.astro";
import { projects as projectsWithoutStars, blog } from "../util/content";
import ImageCard from "../components/ImageCard.astro";
import BlogCard from "../components/BlogCard.astro";

const projects = await Promise.all(
	projectsWithoutStars.map(async (project) => {
		if (!project.data.github) return { ...project, stars: 0 };
		const data = await fetch(project.data.github).then((res) => res.json());
		return { ...project, stars: data.stargazers_count };
	}),
);
---

<Layout title="Home">
	<!-- For scrolling layout, if there is any vertical padding it will scroll before the #main-title is sticky -->
	<style is:global>
		main {
			padding-top: 0;
			padding-bottom: 0;
		}
	</style>
	<style>
		.arrow-link {
			text-decoration: none;
		}
		.arrow-link:hover {
			text-decoration: underline;
		}

		#main-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: calc(15vw - 6rem);
			width: 85%;
		}

		#main-title {
			padding: 10rem 0;
			width: 25rem;
			position: sticky;
			flex: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 4rem;
			height: fit-content;
			top: 0;
		}

		#main-title h1 {
			font-size: min(11vw, 48px);
		}

		#main-title h2 {
			font-size: min(4vw, 20px);
		}

		#main-content > p {
			margin-bottom: 1rem;
		}

		#main-content {
			flex: 1;
			max-width: 40rem;
			min-width: 0;
			padding: 12rem 0;
		}

		#main-title--text {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		#main-title--social-links {
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}

		#main-title--social-links > a {
			color: var(--text-secondary);
		}

		#main-title--social-links > a:hover {
			color: var(--text);
			transform: translateY(-0.1rem) scale(1.04);
			transition:
				color var(--transition-s) ease,
				transform 0.3s ease;
		}

		#main-title--publickey {
			color: var(--text-tertiary);
			font-size: small;
			display: flex;
			gap: 0.3rem;
			cursor: pointer;
			transition: color var(--transition-s) ease;
			position: relative;
		}

		#main-title--publickey:hover {
			color: var(--text-secondary);
		}

		#main-nav {
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			width: 10rem;
		}

		#main-nav a {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5rem;
			padding: 0.8rem 0;
			color: var(--text-secondary);
			transition: color var(--transition-s) ease background-color
				var(--transition-s) ease;
			text-decoration: none;
			font-weight: normal;
		}

		#main-nav a:hover {
			color: var(--text);
			font-weight: bold;
		}

		#main-nav a::before {
			content: "";
			display: block;
			background-color: var(--text-secondary);
			height: 1px;
			width: 16px;
			transition: width var(--transition-s) ease;
		}

		#main-nav a:hover::before {
			background-color: var(--text);
			width: 32px;
		}

		#main-projects {
			display: flex;
			justify-content: stretch;
			gap: 1rem;
			height: 20rem;
			margin-bottom: 1rem;
		}

		#resume-buttons {
			display: flex;
			flex-direction: row;
			gap: 2rem;
			justify-content: center;
			margin-top: 1rem;
		}

		@media (max-width: 1100px) {
			#main-container {
				flex-direction: column;
				align-items: center;
				gap: 2rem;
			}

			#main-title {
				padding: 4rem 0 0 0;
				width: 100%;
				position: static;
				max-width: 40rem;
				gap: 1rem;
				align-items: center;
			}

			#main-content {
				padding: 0 0 12rem 0;
				width: 100%;
			}

			#main-title--text {
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: center;
				gap: 3rem;
				text-align: right;
				width: 100%;
			}
		}

		@media (max-width: 500px) {
			#main-title {
				gap: 1rem;
			}

			#main-title--text {
				flex-direction: column;
				gap: 1.5rem;
			}

			.subtitle-carousel {
				text-align: center;
			}

			#main-nav {
				flex-direction: row;
				gap: 0rem 1rem;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
			}

			#main-nav a::before {
				display: none;
			}

			#main-title--publickey {
				display: none;
			}
		}

		.subtitle-carousel {
			height: 2rem;
			position: relative;
		}

		.subtitle-carousel > * {
			animation: slide 16s linear infinite;
			white-space: nowrap;
			margin-top: 0;
		}

		.subtitle-carousel > *:nth-child(1) {
			animation-delay: -12s;
		}

		.subtitle-carousel > *:nth-child(2) {
			animation-delay: -8s;
		}

		.subtitle-carousel > *:nth-child(3) {
			animation-delay: -4s;
		}

		.subtitle-carousel > *:nth-child(4) {
			animation-delay: 0s;
		}

		@keyframes slide {
			0% {
				transform: translateY(50%);
				opacity: 0;
			}
			36% {
				transform: translateY(50%);
				opacity: 0;
			}
			38% {
				transform: translateY(0%);
				opacity: 1;
			}
			50% {
				transform: translateY(0%);
				opacity: 1;
			}
			60% {
				transform: translateY(0%);
				opacity: 1;
			}
			62% {
				transform: translateY(-50%);
				opacity: 0;
			}
			100% {
				transform: translateY(-50%);
				opacity: 0;
			}
		}
	</style>
	<div id="main-container">
		<div id="main-title">
			<div id="main-title--text">
				<div>
					<h1 style="margin-top: 0; margin-bottom: 0.5rem;">
						Nathan DSilva
					</h1>
					<div class="subtitle-carousel">
						<h2 style="position: absolute; top: 0; width: 100%">
							Software Developer
						</h2>
						<h2 style="position: absolute; top: 0; width: 100%">
							Infrastructure Developer
						</h2>
						<h2 style="position: absolute; top: 0; width: 100%">
							Machine Learning Developer
						</h2>
						<h2 style="position: absolute; top: 0; width: 100%">
							Automation Developer
						</h2>
					</div>
				</div>

				<nav id="main-nav">
					<li>
						<a href="/about">
							<span>About</span>
						</a>
					</li>
					<li>
						<a href="/projects">
							<span>Projects</span>
						</a>
					</li>
					<li>
						<a href="/blog">
							<span>Blog</span>
						</a>
					</li>
					<li>
						<a href="/resume/resume.pdf">
							<span>Resume</span>
						</a>
					</li>
				</nav>
			</div>

			<div id="main-title--social-links">
				<a href="https://github.com/expitau" target="_blank">
					<span class="sr-only">Follow me on Github</span>
					<svg
						viewBox="-1 -1 17 17"
						aria-hidden="true"
						width="24"
						height="24"
						fill="currentColor"
					>
						<path
							fill="currentColor"
							d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
						>
						</path>
					</svg>
				</a>

				<a
					href="https://ca.linkedin.com/in/nathan-dsilva"
					target="_blank"
				>
					<span class="sr-only">Follow me on Linkedin</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="-1 0 25 24"
						fill="currentColor"
					>
						<path
							d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
						>
						</path>
					</svg>
				</a>

				<a href="mailto:expitau@gmail.com" target="_blank">
					<span class="sr-only">Send me an email</span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						height="24"
						viewBox="60 -860 820 800"
						width="24"
						fill="currentColor"
						><path
							d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
						></path></svg
					>
				</a>
			</div>
			<div
				id="main-title--publickey"
				title="GPG Public Key"
				onclick="navigator.clipboard.writeText('770B 83C9 8A17 F25F 9F6C 595A 9F3D 8A50 BB5A BE73'); let copied = this.appendChild(document.createElement('div')); copied.classList.add('copytooltip'); copied.textContent = 'Copied to clipboard!'; setTimeout(() => this.querySelector('.copytooltip')?.remove(), 4000);"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					height="1rem"
				>
					<path
						fill-rule="evenodd"
						d="M8 7a5 5 0 1 1 3.61 4.804l-1.903 1.903A1 1 0 0 1 9 14H8v1a1 1 0 0 1-1 1H6v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-2a1 1 0 0 1 .293-.707L8.196 8.39A5.002 5.002 0 0 1 8 7Zm5-3a.75.75 0 0 0 0 1.5A1.5 1.5 0 0 1 14.5 7 .75.75 0 0 0 16 7a3 3 0 0 0-3-3Z"
						clip-rule="evenodd"></path>
				</svg>
				770B 83C9 8A17 F25F 9F6C 595A 9F3D 8A50 BB5A BE73
			</div>
		</div>
		<div id="main-content" style="padding-inline: 2rem">
			<p>
				Hello! I'm Nathan, I build things that nobody has made before.
				Whether in esoteric projects or technical niches, I'm happiest
				when the problems I am tackling have never been solved. Today, I
				specialize in infrastructure and machine learning, where these
				types of problems arise at scale.
			</p>
			<p>
				I recently graduated from the University of Waterloo, and I am
				currently working as a Lead Software Developer for a
				stealth-mode startup. When I'm not tinkering with hardware or my
				operating system, I'm working on side projects you can find on <a
					href="https://github.com/expitau">my GitHub</a
				>.
			</p>
			<br />
			<h2>Projects</h2>
			<div id="main-projects">
				{
					projects.slice(0, 3).map((project) => (
						<a href={project.data.url}>
							<ImageCard
								image={project.data.heroImage}
								style="width: 14rem; height: 18rem"
							>
								<div style="position: absolute; top: 0; right: 0; display: flex; align-items: center; gap: 0.3rem;">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 24 24"
										fill="currentColor"
										width="16"
										height="16"
									>
										<path
											fill-rule="evenodd"
											d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
											clip-rule="evenodd"
										/>
									</svg>
									<span>{project.stars}</span>
								</div>
								<img
									src={project.data.heroImage}
									style="width: 6rem; height: 6rem; object-fit: contain; margin-top: 2.5rem;"
								/>
								<div style="position: absolute; bottom: 0;">
									<h3 style="margin: 0">
										{project.data.title}
									</h3>
									<p style="margin-bottom: 0">
										{project.data.description}
									</p>
								</div>
							</ImageCard>
						</a>
					))
				}
			</div>
			<a
				href="/projects"
				style="font-weight: 600; display: flex; align-items: center; gap: 0.3rem;"
				class="arrow-link"
				>View more<svg
					xmlns="http://www.w3.org/2000/svg"
					height="16px"
					width="16px"
					viewBox="0 -960 960 960"
					fill="currentColor"
					><path
						d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
					></path></svg
				></a
			>
			<br />
			<h2>Blog</h2>
			<div
				id="main-blog"
				style="display: flex; flex-direction: column; gap: 0.5rem; margin-bottom: 1rem;"
			>
				{blog.slice(0, 3).map((post) => <BlogCard post={post} />)}
			</div>
			<a
				href="/blog"
				style="font-weight: 600; display: flex; align-items: center; gap: 0.3rem;"
				>Read more<svg
					xmlns="http://www.w3.org/2000/svg"
					height="24px"
					viewBox="0 -960 960 960"
					width="24px"
					fill="currentColor"
					><path
						d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
					></path></svg
				></a
			>
			<br />
			<h2>Resume</h2>
			<p>
				Interested in hiring me? Check out my resume! The following is
				redacted for privacy, contact me for the full version.
			</p>
			<div id="resume-buttons">
				<a class="button" href="/resume/Nathan_DSilva_Resume_2024.pdf">
					Download PDF
				</a>
				<a class="button" href="/resume/index.html"> View HTML </a>
			</div>
		</div>
	</div>
</Layout>
