---
import Layout from "../layouts/main.astro";
import { projects, blog } from "../util/content";
import ImageCard from "../components/ImageCard.astro";
import Icon from "../components/Icon.astro";
import { formatDate } from "../util/helpers";
import Tag from "../components/Tag.astro";
---

<Layout title="Home">
	<!-- For scrolling layout, if there is any vertical padding it will scroll before the #main-title is sticky -->
	<style is:global>
		main {
			padding-top: 0;
			padding-bottom: 0;
		}
	</style>
	<style>
		.view-more {
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 0.3rem;
			transition: all var(--transition-s) ease;
			color: var(--text-secondary);
		}

		.view-more:hover {
			color: var(--text-highlight);
		}

		.view-more:hover svg {
			transform: translateX(0px);
			transition: all 0.2s ease;
		}
		.view-more:hover svg {
			transform: translateX(5px);
		}

		#main-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: calc(15vw - 6rem);
			width: 85%;
		}

		#main-title {
			padding: 10rem 0;
			width: 25rem;
			position: sticky;
			flex: none;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 4rem;
			height: fit-content;
			top: 0;
		}

		#main-title h1 {
			font-size: min(11vw, 48px);
		}

		#main-title h2 {
			font-size: min(4vw, 20px);
		}

		#main-content > p {
			margin-bottom: 1rem;
		}

		#main-content {
			flex: 1;
			max-width: 40rem;
			min-width: 0;
			padding: 12rem 0;
		}

		#main-title--text {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}

		#main-title--social-links {
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}

		#main-title--social-links > a {
			color: var(--text-secondary);
		}

		#main-title--social-links > a:hover {
			color: var(--text);
			transform: translateY(-0.1rem) scale(1.04);
			transition:
				color var(--transition-s) ease,
				transform 0.3s ease;
		}

		#main-title--publickey {
			color: var(--text-tertiary);
			font-size: small;
			/* display: flex; */
			gap: 0.3rem;
			cursor: pointer;
			transition: color var(--transition-s) ease;
			position: relative;
		}

		#main-title--publickey:hover {
			color: var(--text-secondary);
		}

		#main-title--publickey--name {
			font-weight: bold;
			position: absolute;
			left: 0;
			transform: translateX(-80%);
			bottom: 2px;
			opacity: 0;
			transition: all var(--transition-s) ease-in-out;
		}

		#main-title--publickey:hover #main-title--publickey--name {
			opacity: 1;
			transform: translateX(-100%);
		}

		#main-nav {
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-direction: column;
			width: 10rem;
		}

		#main-nav a {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.5rem;
			padding: 0.8rem 0;
			color: var(--text-secondary);
			transition: color var(--transition-s) ease background-color
				var(--transition-s) ease;
			text-decoration: none;
			font-weight: normal;
		}

		#main-nav a:hover {
			color: var(--text);
			font-weight: bold;
		}

		#main-nav a::before {
			content: "";
			display: block;
			background-color: var(--text-secondary);
			height: 1px;
			width: 16px;
			transition: width var(--transition-s) ease;
		}

		#main-nav a:hover::before {
			background-color: var(--text);
			width: 32px;
		}

		#main-projects {
			display: flex;
			justify-content: stretch;
			gap: 1rem;
			margin-bottom: 1.5rem;
		}

		@media (max-width: 1100px) {
			#main-container {
				flex-direction: column;
				align-items: center;
				gap: 2rem;
			}

			#main-title {
				padding: 4rem 0 0 0;
				width: 100%;
				position: static;
				max-width: 40rem;
				gap: 1rem;
				align-items: center;
			}

			#main-content {
				padding: 0 0 12rem 0;
				width: 100%;
			}

			#main-title--text {
				flex-direction: row-reverse;
				justify-content: space-between;
				align-items: center;
				gap: 3rem;
				text-align: right;
				width: 100%;
			}
		}

		@media (max-width: 500px) {
			#main-title {
				gap: 1rem;
			}

			#main-title--text {
				flex-direction: column;
				gap: 1.5rem;
			}

			.subtitle-carousel {
				text-align: center;
			}

			#main-nav {
				flex-direction: row;
				gap: 0rem 1rem;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
			}

			#main-nav a::before {
				display: none;
			}

			#main-title--publickey {
				display: none;
			}
		}

		.blog-list a {
			transition: all 0.1s ease;
			position: relative;
		}

		.blog-list a::before {
			content: "";
			position: absolute;
			left: -1rem;
			top: 40%;
			width: 2px;
			height: 1rem;
			display: block;
			background: var(--text);
			opacity: 0.5;
			transition: all 0.2s ease;
		}

		.blog-list a:hover::before {
			opacity: 1;
			height: 80%;
			top: 10%;
		}

		.blog-list a:hover {
			color: var(--text-highlight);
			opacity: 1;
			/* transform: translateY(-3px); */
		}

		.subtitle-carousel {
			height: 2rem;
			position: relative;
		}

		.subtitle-carousel > * {
			animation: slide 16s linear infinite;
			white-space: nowrap;
			margin-top: 0;
		}

		.subtitle-carousel > *:nth-child(1) {
			animation-delay: -12s;
		}

		.subtitle-carousel > *:nth-child(2) {
			animation-delay: -8s;
		}

		.subtitle-carousel > *:nth-child(3) {
			animation-delay: -4s;
		}

		.subtitle-carousel > *:nth-child(4) {
			animation-delay: 0s;
		}

		@keyframes slide {
			0% {
				transform: translateY(50%);
				opacity: 0;
			}
			36% {
				transform: translateY(50%);
				opacity: 0;
			}
			38% {
				transform: translateY(0%);
				opacity: 1;
			}
			50% {
				transform: translateY(0%);
				opacity: 1;
			}
			60% {
				transform: translateY(0%);
				opacity: 1;
			}
			62% {
				transform: translateY(-50%);
				opacity: 0;
			}
			100% {
				transform: translateY(-50%);
				opacity: 0;
			}
		}
	</style>
	<div id="main-container">
		<div id="main-title">
			<div id="main-title--text">
				<div>
					<h1 style="margin-top: 0; margin-bottom: 0.5rem;">
						Nathan DSilva
					</h1>
					<div class="subtitle-carousel">
						<h2 style="position: absolute; top: 0; width: 100%">
							Software Developer
						</h2>
						<h2 style="position: absolute; top: 0; width: 100%">
							Infrastructure Developer
						</h2>
						<h2 style="position: absolute; top: 0; width: 100%">
							Machine Learning Developer
						</h2>
						<h2 style="position: absolute; top: 0; width: 100%">
							Automation Developer
						</h2>
					</div>
				</div>

				<nav id="main-nav">
					<li>
						<a href="/about">
							<span>About</span>
						</a>
					</li>
					<li>
						<a href="/projects">
							<span>Projects</span>
						</a>
					</li>
					<li>
						<a href="/blog">
							<span>Blog</span>
						</a>
					</li>
					<li>
						<a href="/resume/resume.pdf">
							<span>Resume</span>
						</a>
					</li>
				</nav>
			</div>

			<div id="main-title--social-links">
				<a href="https://github.com/expitau" target="_blank">
					<span class="sr-only">Github</span>
					<Icon type="github" />
				</a>

				<a
					href="https://ca.linkedin.com/in/nathan-dsilva"
					target="_blank"
				>
					<span class="sr-only">Linkedin</span>
					<Icon type="linkedin" />
				</a>

				<a href="mailto:expitau@gmail.com" target="_blank">
					<span class="sr-only">Email</span>
					<Icon type="email" />
				</a>
			</div>
			<div
				id="main-title--publickey"
				title="GPG Public Key"
				onclick="navigator.clipboard.writeText('770B 83C9 8A17 F25F 9F6C 595A 9F3D 8A50 BB5A BE73'); let copied = this.appendChild(document.createElement('div')); copied.classList.add('copytooltip'); copied.textContent = 'Copied to clipboard!'; setTimeout(() => this.querySelector('.copytooltip')?.remove(), 4000);"
			>
				<span id="main-title--publickey--name">GPG Public Key</span>
				<Icon
					type="key"
					height="1rem"
					style="transform: translateY(3px)"
				/>
				770B 83C9 8A17 F25F 9F6C 595A 9F3D 8A50 BB5A BE73
			</div>
		</div>
		<div id="main-content" style="padding-inline: 2rem">
			<p>
				Hello! I'm Nathan, I build things that nobody has made before.
				Whether in esoteric projects or technical niches, I'm happiest
				when the problems I am tackling have never been solved. Today, I
				specialize in infrastructure and machine learning, where these
				types of problems arise at scale.
			</p>
			<p>
				I recently graduated from the University of Waterloo, and I am
				currently working as a Lead Software Developer for a
				stealth-mode startup. When I'm not tinkering with hardware or my
				operating system, I'm working on side projects you can find on <a
					href="https://github.com/expitau">my GitHub</a
				>.
			</p>
			<br />
			<h2>Projects</h2>
			<div id="main-projects">
				{
					projects.slice(0, 3).map((project) => (
						<a href={project.data.url}>
							<ImageCard
								image={project.data.image}
								style="width: 14rem; height: 18rem"
							>
								<div style="position: absolute; top: 0; right: 0; display: flex; align-items: center; gap: 0.3rem;">
									<span>{formatDate(project.data.date)}</span>
								</div>
								<img
									src={project.data.image}
									style="width: 6rem; height: 6rem; object-fit: contain; margin-top: 2.5rem;"
								/>
								<div style="position: absolute; bottom: 0;">
									<h3 style="margin: 0">
										{project.data.title}
									</h3>
									<p style="margin-bottom: 0">
										{project.data.description}
									</p>
								</div>
							</ImageCard>
						</a>
					))
				}
			</div>
			<a href="/projects" class="view-more">
				View more
				<Icon type="arrow" width="16px" height="16px" />
			</a>
			<br />
			<h2>Blog</h2>
			<div
				class="blog-list"
				style="display: flex; flex-direction: column; margin-left: 1rem; padding-top: 0.75rem; gap: 1.5rem; margin-bottom: 1.5rem;"
			>
				{
					blog.slice(0, 3).map((post) => (
						<a href={`/blog/${post.id}/`}>
							<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
								<div>
									<div style="display: flex; flex-direction: row; align-items: baseline; gap: 0.5rem;">
										<h3 style="margin: 0;">
											{post.data.title}
										</h3>
										{(post.data.tags || []).map((tag) => (
											<Tag name={tag} />
										))}
									</div>
									<p>{post.data.description}</p>
								</div>
								<Icon
									type="arrow"
									width="24px"
									height="24px"
									style="flex: none; color: white"
									class="blog-arrow"
								/>
							</div>
						</a>
					))
				}
			</div>
			<a href="/blog" class="view-more">
				View more
				<Icon type="arrow" width="16px" height="16px" />
			</a>
			<br />
			<h2>Resume</h2>
			<p>
				Interested in hiring me? Check out my resume! The following is
				redacted for privacy, contact me for the full version.
			</p>
			<div style="display: flex; flex-direction: row; gap: 2rem; justify-content: center; margin-top: 2rem;">
				<a class="button" href="/resume/Nathan_DSilva_Resume_2024.pdf">
					Download PDF
				</a>
				<a class="button" href="/resume/index.html"> View HTML </a>
			</div>
		</div>
	</div>
</Layout>
