---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Nathan's portfolio and blog" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>expitau - {title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<script>
			const blobElement = document.getElementById("blob");
			function updateBlob(x, y) {
				blobElement.animate(
					{
						left: `${x}px`,
						top: `${y}px`,
					},
					{ duration: 3000, fill: "forwards" },
				);
			}

			document.body.onpointermove = (event) => {
				const { clientX, clientY } = event;
				sessionStorage.setItem(
					"lastMousePosition",
					JSON.stringify({ x: clientX, y: clientY }),
				);
				updateBlob(clientX, clientY);
			};
			let { x, y } = JSON.parse(
				sessionStorage.getItem("lastMousePosition"),
			) || { x: 0, y: 0 };
			blobElement.style.left = `${x}px`;
			blobElement.style.top = `${y}px`;
		</script></head
	>

	<body>
		<div id="background">
			<div id="blob"></div>
			<div id="blur"></div>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	main {
		padding-inline: 24rem;
		padding-bottom: 8rem;
	}

	@media (max-width: 1600px) {
		main {
			padding-inline: 16rem;
		}
	}

	@media (max-width: 1300px) {
		main {
			padding-inline: 8rem;
		}
	}

	@media (max-width: 720px) {
		main {
			padding-inline: 6rem;
		}
	}

	@media (max-width: 480px) {
		main {
			padding-inline: 1rem;
		}
	}

	h1 {
		font-weight: 700;
		font-size: 48px;
	}

	h2 {
		font-weight: 600;
		font-size: 24px;
	}

	h3 {
		font-weight: 500;
		font-size: 18px;
	}

	h1,
	h2,
	h3 {
		color: var(--text);
		margin: 0;
	}

	strong {
		color: var(--text-secondary);
		font-weight: 600;
	}

	p {
		color: var(--text-secondary);
		line-height: 1.5em;
		margin: 0;
		letter-spacing: 0.01em;
		font-weight: 400;
	}

	br {
		content: "";
		display: block;
		font-size: 1em;
		margin-top: 2rem;
	}

	img {
		border-radius: 0.5rem;
		margin: 0.2rem;
	}

	ul {
		margin: 0;
	}

	a {
		color: var(--text);
		font-weight: bold;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.button {
		background: var(--background-highlight-2);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 1rem 2rem;
		border-radius: 2rem;
		color: var(--text);
		text-decoration: none;
		font-weight: bold;
		/* border: 1px solid var(--text-secondary); */
	}

	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		white-space: nowrap;
	}
</style>
<style is:global>
	:root {
		--background: #111111;
		--background-highlight: #181818;
		--background-highlight-2: #222222;
		--text: #ffffff;
		--text-secondary: #cfcfcf;
		--transition-s: 0.1s;
		color-scheme: dark;
	}
	html {
		font-family: "Inter", sans-serif;
		background: linear-gradient(
			to right,
			var(--background),
			var(--background-highlight) 50%,
			var(--background)
		);
	}
	body {
		margin: 0;
		height: 100vh;
		color: var(--text-secondary);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	#background {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		z-index: -1;
	}
	#blob {
		position: absolute;
		height: 1000px;
		aspect-ratio: 1;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		border-radius: 50%;
		background: radial-gradient(
			ellipse 100% 140%,
			var(--background-highlight),
			transparent 30%
		);
		animation: rotate 10s linear infinite;
		z-index: 1;
	}
	#blur {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 2;
	}

	@keyframes rotate {
		from {
			rotate: 0deg;
		}

		to {
			rotate: 360deg;
		}
	}
</style>
